body{
    background-color: rgb(207, 159, 159);
}
ul{
    list-style: none;
    position: relative;
    left: 220px;
}
li{
    display: inline;
    position: relative;
    margin: 10px;
    border: 2px solid black;
    padding: 10px;
}
div  h1{
    position: relative;
    display: inline;
    border: 2px solid black;
    color: brown;
}
.content1{
    position: relative;
    display: block;
    text-align: center;
    margin: auto;
    width: 500px;
    
}
.content2 {
    border: none;
    color: white;
}
h1 ~ p{
    color: white;
}
#button1{
    background-color: black;
    color: white;


}